*{
    /* background-color: antiquewhite; */
   box-sizing: border-box;
}
.container{
    border: 2px solid black;
    background-color:rgb(236 253 255);
    padding: 20px;
    margin: 10px;
    width: 40%;
   
}
.main{
    border: 2px solid rgb(238, 132, 241);
    width: 900px;
    /* height: px; */
    margin: auto;
    background-color: aliceblue;
}
.heading1{
    float: left;
    width: 45%;
}
.heading2{
    float: left;
    width: 45%;  
}
.heading3{
    /* float: left; */

    width: 95%;
    clear: left;
}
h1{
    margin: auto;
    width: 455px;
}
