 /* *{
     background-color: antiquewhite; 
   box-sizing: border-box;
}
.container{
    border: 2px solid black;
    background-color:rgb(236 253 255);
    padding: 20px;
    margin: 10px;
    width: 40%;
   
}
.main{
    border: 2px solid rgb(238, 132, 241);
    width: 900px;
    height: px;
    margin: auto;
    background-color: aliceblue;
}
.heading1{
    float: left;
    width: 45%;
}
.heading2{
    float: left;
    width: 45%;  
}
.heading3{
    float: left;
    width: 95%;
    clear: left;
}
h1{
    margin: auto;
    width: 455px;
}  
  */
 /* 17/4/23  monday   */

 .navbar{ 
    background-color: aqua;
     /* padding: 20px 30px;  */
      box-sizing: border-box;
      border-radius: 30px;
}
.navbar ul{
    list-style: none;
    overflow: auto;
}

.navbar li{
    float: left;
    padding: 12px 40px; 
}
.navbar li a{
    text-decoration: none;
     /* padding: 0px 50px;  */
}
.searchbar{
    float: right;
}
.searchbar input{
    border-radius: 15px;
}
.navbar li a:hover{
    color: antiquewhite;
}